*.iml
.gradle/
.kotlin/
local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/

# Module build outputs
app/build/

# Keystore
*.jks
*.keystore
keystore.properties

# Heap dumps
*.hprof
